body{
	background-color: #4B9EB4 !important;
	 font-family: "Plus Jakarta Sans", serif !important;
	 display: flex;
	 flex-direction: column;
	 min-height: 100vh;
	 color: white !important;
}
.container{
	flex: 1;
}

.navbar{
	height: 5rem;
	background-color: #4B9EB4;
}
.fa-spa{ 
	color: #B44B9E;
	font-size: 2rem;
}
.nav-link{
	color: white !important;
	transition-duration: 0.8s !important;
	padding: 3px 10px 3px 10px !important;
}
.nav-link:hover{
	border: 2px solid #B44B9E !important;
	border-radius: 2rem;
}
.navbar-toggler {
  background-color: #B44B9E !important; /* Your custom color */
  border-radius: 5px;
}
.custom-dropdown-bg {
  background-color: #4B9EB4 !important; /* Replace with your own color */
  padding: 1rem;
  border-radius: 0 0 10px 10px; /* optional: rounded corners */
}

/* footer */
.f-info-links a{
	text-decoration: none;
	color: white;
	vertical-align: middle;
}
.f-info-links a:hover{
	text-decoration: underline;
}
.f-info-links, .f-info-socials, .f-info-brand{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.f-info-socials i{
	font-size: 1.2rem;
	color: #B44B9E;
	margin-right: 1rem;
}
.f-info{
	text-align: center;
	height: 8rem;
	background-color: #4B9EB4;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: space-evenly;
}
.offcanvas{
	background-color: #4B9EB4 !important;
}
.copyright{
	color: #B44B9E;
}

/* Cards */
.card{
	padding-bottom: 10px;
}
.posts-card{
	border: none !important;
	margin-bottom: 2rem;
}
.card-img-top{
	border-radius: 0rem !important;
	width: 100% !important;
	object-fit: cover !important;
}
.card-img-post{
	border-radius: 1rem 1rem 0rem 0rem !important;
}
.card-body{
	background-color: #fff !important;
   padding: 0.5rem !important;
   border-radius: 0rem 0rem 0.4rem 0.4rem !important;
}
.comment-card{
	background-color: #4B9EB4 !important;
	font-size: 0.7rem !important;
	padding: 4px !important;
}
.comment-card-body{
	background-color: #4B9EB4 !important;
	padding: 0 !important;
}
.card-ext{
	font-weight: 400 !important;
}

.posts-link{
	text-decoration: none;
	color: #4B9EB4;
}

.card-img-overlay{
	opacity: 0;
}
.card-img-overlay:hover{
	opacity: 0.5;
	background-color: white;
}

/*Add New Listing btn */
.add-btn{
	background-color: #B44B9E !important;
	border: none !important;
}

/* Edit Button */
.edit-btn{
	background-color: #B44B9E !important;
	border: none !important;
    margin-bottom: 10px;
}

.comment-btn{
	font-size: 0.5rem !important;
	margin: 0px;
}

/* Show Image */
.show-img{
	height: 30vh;
}
.profile-div{
	text-align: center;
	align-items: center;
}
.my-image{
	height: 250px;
	width: 250px;
	border-radius: 50%;
	border: 2px solid #4B9EB4;
}
/* Media query for smaller devices (phones) */
@media (max-width: 576px) {
 .show-img{
    height: 30vh;
  }
  .my-image{
	height: 100px;
	width: 100px;
  }
}

/* Medium devices (tablets) */
@media (min-width: 577px) and (max-width: 768px) {
 .show-img{
    height: 40vh;
  }
.my-image{
	height: 150px;
	width: 150px;
  }
}

/* Larger devices (desktops) */
@media (min-width: 769px) {
.show-img{
    height: 50vh;
  }
   .my-image{
	height: 200px;
	width: 200px;
  }
}

.btns{
	display: flex;
	margin: 0 !important;
	padding: 0 !important;
}

.show-card{
	padding-left: 0px;
	padding-right: 0px;
}

/* scroller */
 .scroller {
  scroll-behavior: smooth;
  white-space: nowrap;
}

/* .login-card{
	display: grid;
	text-align: center;
	justify-content: center;
	align-items: center;
} */

.signup-form{
	background-color: #2f6371;
	opacity: 0.8;
	padding: 10px;
	border: 2px solid gray;
	border-radius: 10px;
	box-shadow: 2px 2px 12px 4px black;
}
.profile-image-div{
	display: flex !important;
}
.profile-image{
	height: 30px !important;
	width: 30px !important;
	border-radius: 50% !important;
	display: inline-block !important;
}
.post-owner-card{
	padding: 3px 10px 0px 10px !important;
	text-decoration: none;
	color: #B44B9E;
	font-weight: 800;
}
.like-unlike-form{
	display: inline-block;
}
.like-button{
	border: none !important;
}
.unlike-heart{
	color: #B44B9E !important;
}

/* // showpage */

.full-height {
    height: 100% !important;
	justify-content: center !important;
  }

  /* message */
.message-form{
	 position: fixed ;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    z-index: 1000;
}
.message-inp{
	border: 2px solid #B44B9E !important;
}
  .scrollable-content {
    max-height: 100% !important;
    overflow-y: auto !important;
  }

  @media (max-width: 767.98px) {
    .mobile-half-height {
      height: 40vh !important;
    }
	.message-height{
		height: 70vh !important;
	}
	.second-card{
		margin-top: 20px !important;
	}
  }

  @media (min-width: 768px) {
	.mobile-half-height {
      height: 100vh !important;
    }
	.message-height{
		height: 90vh !important;
	}
  }
 
  .sent-msg {
  background-color: #B44B9E;
  color: white;
  align-self: flex-end !important;
  border-radius: 15px 15px 0 15px;
  padding: 8px 12px;
  margin: 5px 0;
  max-width: 70%;
  word-wrap: break-word;
}

.received-msg {
  background-color: #4B9EB4;
  color: white;
  align-self: flex-start !important;
  border-radius: 15px 15px 15px 0;
  padding: 8px 12px;
  margin: 5px 0;
  max-width: 70%;
  word-wrap: break-word;
}
.time-date{
	text-align: right;
	width: 40%;
	float: right !important;
	font-size: 0.7rem;
	color: #4B9EB4;
}
.ms-time-date{
	text-align: right;
	float: right !important;
	font-size: 0.7rem;
	color:black;
}
.msg-card-header{
	background-color: #4B9EB4;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
}
.msg-card-header > a{
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 800;
	color: #B44B9E;
}

/* .posts-card {
	opacity: 0 !important;
	transform: translateY(20px) !important ;
	transition: all 0.8s ease !important;
  }
  
  .posts-card.post-card-visible {
	opacity: 1 !important;
	transform: translateY(0) !important;
  } */