<% layout("/layouts/boilerplate") -%>

<div class="row mt-4">
		<div class="col-12 col-md-6 offset-md-3" data-aos="fade-down" data-aos-duration="800">
			<h3>Create a new Post</h3>
			<div class="signup-form">
			<form action="/posts" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
				<div class="mb-3">
					<label for="description" class="form-label">Description</label>
					<textarea type="text" name="post[description]"  class="form-control" required></textarea>
					<div class="invalid-feedback">
      					Please enter a short description
    				</div>
				</div>
				<div class="mb-3">
					<label for="image" class="form-label">Upload Image</label>
            		<input type="file" name="post[image]" class="form-control" required>
				</div>
					<button class="btn btn-dark add-btn prevent-multi-submit">Add</button>
			</form><br><br>
			</div>
		</div>
	</div>

